/* Write your CSS here */
.Container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #7e858e;
  width: 100%;
  list-style-type: none;
  padding-left: 25px;
}

.deleteImage {
  height: 40px;
  width: 40px;
}
